# Verification Service: Tower

CanaryBit **verification** service is called Inspector.
